 <div {{bind-attr class=":election-outcome electionOutcome" style=outcomeFontColorStyle}}>
   {{#if hasDefinitiveOutcome}}
     {{outcomeName}} ({{outcomeAbbreviation}})
   {{else}}
     {{outcomeName}}
   {{/if}}
 </div>
