 <div {{bind-attr class=":election-outcome winningParty" }}>

   {{#if hasTie}}
     Unresolveable Tie
   {{/if}}

   {{#if requiresRunoff}}
     {{#each party in displayParties}}
       <div class="party-winner runoff">{{party.name}} ({{party.abbreviation}})</div>
     {{/each}}
   {{/if}}

   {{#if hasWinner}}
     <div class="party-winner">{{winnerName}} ({{winnerAbbreviation}})</div>
   {{/if}}
 </div>
