 <div {{bind-attr class=":election-outcome winningParty" }}>

   {{#if hasTie}}
     Unresolveable Tie
   {{/if}}

   {{#if requiresRunoff}}
     {{#each party in displayParties}}
       <div>{{party.name}} ({{party.abbreviation}})</div>
     {{/each}}
     <button {{action 'viewRunoffElection'}}>View Runoff Results</button>
   {{/if}}

   {{#if hasWinner}}
     {{winnerName}} ({{winnerAbbreviation}})
   {{/if}}
   {{#if currentRunoff}}
     <button {{action 'viewOriginalElection'}}>View Original Election Results</button>
   {{/if}}
 </div>
