{{#if isFirstPreference}}
  <span class="party-name">{{partyName}} ({{partyAbbreviation}})</span>
  <span class="vote-input-container">{{input type='text' class="vote-input" value=votePercentage}}</span>
{{else}}
  <span class="secondary-party-name">{{partyAbbreviation}}</span>
{{/if}}
