{{#if isFirstPreference}}
  <span {{bind-attr class="isFirstPreference:party-name:secondary-party-name"}}>{{partyAbbreviation}}</span>
{{else}}
  {{#ic-modal-trigger controls="modal" on-toggle="preferenceClicked" classNameBindings=":preference-button"}}
    <span {{bind-attr class="isFirstPreference:party-name:secondary-party-name"}}>{{partyAbbreviation}}</span>
  {{/ic-modal-trigger}}
{{/if}}
