{{!
  The following variable is available too (replace []'s with {}'s):

  District [[model.districtNumber]]
}}

<div>Formula: {{model.formula}}</div>
<div>{{model.districtName}}</div>

{{#donut-chart diameter=model.diameter data=model.preferenceGroups}}
  {{donut-hole data=model.preferenceGroups diameter=model.diameter formula=model.formula}}
{{/donut-chart}}

{{#each preferenceGroup in model.preferenceGroups}}
    {{preference-group preferenceGroup=preferenceGroup}}
{{/each}}

{{outlet}}

