{{!
  The following variable is available too (replace []'s with {}'s):

  District [[model.districtNumber]]
}}

<div class="formula">Formula: {{model.formulaName}}</div>
<div class="district">{{model.districtName}}</div>

{{#donut-chart diameter=model.diameter electionOutcome=electionOutcome currentRunoff=currentRunoff}}
  {{donut-hole diameter=model.diameter electionOutcome=electionOutcome currentRunoff=currentRunoff}}
{{/donut-chart}}

{{#each preferenceGroup in model.preferenceGroups}}
    {{preference-group preferenceGroup=preferenceGroup}}
{{/each}}

<button {{action 'useFormula' 'plurality'}}>Pluarality Formula</button>
<button {{action 'useFormula' 'majority'}}>Majority Formula</button>

{{outlet}}

